body {
	font-size:0px;
	width:800px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px;
}

.block {
display:inline-block;
}

.top-left {
	background-color: green;
	height:200px;
	width:50%;
	border:1px solid black;
}

.top-right {
	background-color: blue;
	height:200px;
	width:50%;
	border:1px solid black;
}

.bottom-left{
	background-color:gray;
	height:300px;
	width:33.33%;
	border:1px solid black;
}

.bottom-middle{
	background-color: black;
	height:300px;
	width:33.33%;
	border:1px solid black;
}

.bottom-right{
	background-color: yellow;
	height:300px;
	width:33.33%;
	border:1px solid black;
}

